@import "tailwindcss";

:root {
  --background: #ffffff;
  --blue: #1c448e;
  --foreground: #171717;
  --primary: #a4133c;
  --secondary: #c9184a;
}

@theme inline {
  --color-background: var(--background);
  --color-blue: var(--blue);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-background font-sans text-foreground;
}

a {
  @apply inline-flex min-h-8 min-w-8 items-center;
}

@media not all and (min-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media (min-height: 700px) and (min-width: 1500px) {
  html {
    font-size: 18px;
  }
}
